music-playlist-soap-client2/src/main/resources/wsdl/register.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://example.com/playlist/registering"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://example.com/playlist/registering"
	targetNamespace="http://example.com/playlist/registering">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://example.com/playlist/registering">
			<xsd:element name="RegisterRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="username" type="xsd:string" />
						<xsd:element name="email" type="xsd:string" />
						<xsd:element name="password" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegisterResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="success" type="xsd:boolean" />
						<xsd:element name="message" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RegisterResponse">
		<wsdl:part element="tns:RegisterResponse"
			name="RegisterResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="RegisterRequest">
		<wsdl:part element="tns:RegisterRequest"
			name="RegisterRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Register">
		<wsdl:operation name="Register">
			<wsdl:input message="tns:RegisterRequest"
				name="RegisterRequest">
			</wsdl:input>
			<wsdl:output message="tns:RegisterResponse"
				name="RegisterResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RegisterSoap11" type="tns:Register">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Register">
			<soap:operation soapAction="" />
			<wsdl:input name="RegisterRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RegisterResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RegisterService">
		<wsdl:port binding="tns:RegisterSoap11"
			name="RegisterSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>