music-playlist-soap-client7/src/main/resources/wsdl/sendPlaylist.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://example.com/playlist/sendPlaylist"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://example.com/playlist/sendPlaylist"
	targetNamespace="http://example.com/playlist/sendPlaylist">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://example.com/playlist/sendPlaylist">
			<xsd:element name="sendPlaylistRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fromUser" type="xsd:string" />
						<xsd:element name="toUser" type="xsd:string" />
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendPlaylistResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sendPlaylistRequest">
		<wsdl:part element="tns:sendPlaylistRequest"
			name="sendPlaylistRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendPlaylistResponse">
		<wsdl:part element="tns:sendPlaylistResponse"
			name="sendPlaylistResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SendPlaylist">
		<wsdl:operation name="sendPlaylist">
			<wsdl:input message="tns:sendPlaylistRequest"
				name="sendPlaylistRequest">
			</wsdl:input>
			<wsdl:output message="tns:sendPlaylistResponse"
				name="sendPlaylistResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SendPlaylistSoap11"
		type="tns:SendPlaylist">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendPlaylist">
			<soap:operation soapAction="" />
			<wsdl:input name="sendPlaylistRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendPlaylistResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SendPlaylistService">
		<wsdl:port binding="tns:SendPlaylistSoap11"
			name="SendPlaylistSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>